# Игнорировать файлы с разрешением .bak
*.*.bak
*.bak.*
*.bak

# Игнорировать файлы с окончанием _old, _backup
*.*_old
*.*_backup

# Игнорировать подкаталог tmp
tmp

# Игнорировать файлы
Thumbs.db
*.DS_Store